<div class="well well-small">
  <h5><%= answer.user.name %></h5>
  <p><%= answer.message %></p>
  <div>
    <small class="muted"><%= t('misc.posted') %> <%= l(answer.created_at, format: :long) %></small>
    <span class="pull-right">
      <%= render partial: 'shared/attachments/attachments', locals: { attachments: answer.attachments } %>
    </span>
  </div>
</div>