<% content_for :sidebar do %>
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Navigation</li>
    <li><%= link_to Townhouse.model_name.human(count: 2), syndic_townhouses_path  %></li>
    <li><%= link_to Bulletin.model_name.human(count: 2), syndic_townhouse_bulletins_path(@townhouse)  %></li>
    <li><%= link_to Call.model_name.human(count: 2), syndic_townhouse_calls_path(@townhouse)  %></li>
    <li><%= link_to Tenement.model_name.human(count: 2), syndic_townhouse_tenements_path(@townhouse)  %></li>
    <li><%= link_to Expense.model_name.human(count: 2), syndic_townhouse_expenses_path(@townhouse)  %></li>
    <li><%= link_to Income.model_name.human(count: 2), syndic_townhouse_incomes_path(@townhouse)  %></li>
  </ul>
</div><!--/.well -->
<% end %>