<%- model_class = Townhouse -%>
<div class="box span12">
  <div class="box-header">
    <h2><i class="icon-align-justify"></i><span class="break"></span><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
    <div class="box-icon">
      <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
    </div>
  </div>
  <div class="box-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:information) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
        <tbody>
          <% @townhouses.each do |townhouse| %>
            <tr>
              <td><%= townhouse.name %></td>
              <td><%= townhouse.information %></td>
              <td>
                <%= link_to t('.select', :default => t("helpers.links.select")), syndic_townhouse_path(townhouse), :class => 'btn btn-mini btn-info' %>
              </td>
            </tr>
          <% end %>
        </tbody>
     </table>  
  </div>
</div>