<%- model_class = IncomeType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @income_type.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @income_type.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:townhouse) %>:</strong></dt>
  <dd><%= @income_type.townhouse_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('helpers.links.back'), syndic_townhouse_income_types_path(@townhouse), :class => 'btn'  %>
  <%= link_to t('helpers.links.edit'), edit_syndic_townhouse_income_type_path(@townhouse, @income_type), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")), syndic_townhouse_income_type_path(@townhouse, @income_type),
              :method => 'delete',
              :data => { :confirm => t('helpers.links.confirm') },
              :class => 'btn btn-danger' %>
</div>

<%= render partial: 'sidebar' %>