<%- model_class = Call -%>
<div class="box span12">
  <div class="box-header">
    <h2>
      <i class="icon-align-justify"></i><span class="break"></span>
      <%=t '.title', :default => model_class.model_name.human.pluralize %>
    </h2>
    <div class="box-icon">
      <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
    </div>
  </div>
  <div class="box-content">
    <%= render partial: 'shared/calls/call' %>
    <div class="form-actions">
      <%= link_to t('helpers.links.back'), syndic_townhouse_calls_path(@townhouse), :class => 'btn'  %>
      <% if @call.published? %>
        <%= link_to t('helpers.links.accept'), syndic_townhouse_accept_call_path(@townhouse, @call), :class => 'btn btn-success'  %>
        <%= link_to t('helpers.links.reject'), syndic_townhouse_reject_call_path(@townhouse, @call), :class => 'btn btn-danger'  %>
      <% end %>
    </div>
  </div>
</div>

<div class="box span12">
  <div class="box-header">
    <h2>
      <i class="icon-align-justify"></i><span class="break"></span>
      <%=t 'misc.answers_comments' %>
    </h2>
    <div class="box-icon">
      <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
    </div>
  </div>
  <div class="box-content">
    <% unless @call.draft? %>
      <%= render partial: 'shared/answers/answers', locals: { 
        answers: @call.answers,
        answerable: @call,
        redirect_url: syndic_townhouse_call_path(@townhouse, @call)
      } %>
    <% end %>
  </div>
</div>