<%= simple_nested_form_for [:syndic, @townhouse, @income], html: { class: 'form-horizontal', multipart: true } do |f| %>
  <%= f.association :type, input_html: { class: 'chzn-select' }, collection: @income_types %>
  <%= f.input :description %>
  <%= f.input :date, as: 'datepicker' %>
  <%= f.input :value %>

  <%= f.fields_for :attachments do |attachment_form| %>
    <%= render partial: 'shared/attachments/form', locals: { f: attachment_form } %>
    <%= attachment_form.link_to_remove t('attachment.misc.remove_attachment') %>
  <% end %>
  <%= f.link_to_add t('attachment.misc.add_attachment'), :attachments %>  

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('helpers.links.cancel'), syndic_townhouse_incomes_path(@townhouse), :class => 'btn' %>
  </div>
<% end %>