<%- model_class = Tenement -%>
<div class="box span12">
  <div class="box-header">
    <h2><i class="icon-align-justify"></i><span class="break"></span>
      <%=t '.title' %>
    </h2>
    <div class="box-icon">
      <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
    </div>
  </div>
  <div class="box-content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:townhouse) %></th>
          <th><%= model_class.human_attribute_name(:location) %></th>
          <th><%= model_class.human_attribute_name(:rent_value) %></th>
          <th><%=t 'helpers.actions' %></th>
        </tr>
      </thead>
      <tbody>
        <% @tenements.each do |tenement| %>
          <tr>
            <td><%= tenement.townhouse.name %></td>
            <td><%= tenement.location %></td>
            <td><%= tenement.rent_value %></td>
            <td>
              <%= link_to t("helpers.links.select"), tenant_tenement_path(tenement), :class => 'btn btn-mini btn-info' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>