<%- model_class = Bulletin -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:subject) %></th>
      <th><%= model_class.human_attribute_name(:syndic) %></th>
      <th><%= model_class.human_attribute_name(:sent_at) %></th>
      <th><%=t "helpers.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @bulletins.each do |bulletin| %>
      <tr>
        <td><%= link_to bulletin.id, syndic_townhouse_bulletin_path(@townhouse, bulletin) %></td>
        <td><%= bulletin.subject %></td>
        <td><%= bulletin.syndic.name %></td>
        <td><%= bulletin.sent_at %></td>
        <td>
          <%= link_to t('helpers.links.show'), syndic_townhouse_bulletin_path(@townhouse, bulletin), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('helpers.links.new'), new_syndic_townhouse_bulletin_path(@townhouse), :class => 'btn btn-primary' %>
