<%- model_class = Syndic -%>
<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human(count: 2) %></h4>
</div>
<% syndics.each do |syndic| %>
  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
    <dd><%= syndic.name %></dd>
    <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
    <dd><%= syndic.email %></dd>
  </dl>
  <%= render partial: 'shared/phones/phones', locals: { phones: syndic.phones, level: 5 } %>
  <hr />
<% end %>